/**
* Layout
*/
.box{
	width: 100%;
	float: left;
}

.box-94{
	width: 94%;
	margin: 0 auto;
}

/**
* Input field
*/
.jautocomplete
{
	margin: 0 auto;
	width: 480px;
	position: relative;
	text-shadow:1px 1px 1px #fff; display:inline-block
}

.ja-actions{

	width: 477px;
		
	padding: 3px 0;
	
	outline:0;
	color: #aaa;	
	/*background: #fff;
	border:1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
	
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;	
}

input.ja-tb{
	width: 303px; border:none; border-radius:0; -webkit-border-radius: 0 0 0 0; height:23px; float:left;
	
	/*height: 25px;
	
	border: 0;	
	outline: 0;  
	
	font-size: 15px;
	line-height: 15px;
	
	float: left;
	text-indent: 10px;*/
	padding-top : 5px\9; /* IE8 et versions inférieures */
*padding-top : 5px; /* IE7 et versions inférieures */
_padding-top : 5px; /* IE6 */
	height : 20px\9; /* IE8 et versions inférieures */
*height : 20px; /* IE7 et versions inférieures */
_height : 20px; /* IE6 */
}


.ja-btn{
	display: block;
	float: right;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.jautocomplete input:active,
.jautocomplete input:focus{  
    outline: 0;  
}

.jautocomplete-loading input{
	background: #fff url('../img/common/ajax-loader.gif') no-repeat 97% 50%;
}

.ie-placeholder{
	font-size: 14px;
	padding: 10px 0 0 0;
	color: #aaa;
}

/**
* Hidden box
*/
.jautocomplete-placeholder{
	width: 310px;
	
	position: absolute;
	left: 0;
}

.jautocomplete-box{	
	float: left;
	width: 100%;
	
	color: #aaa;
	background: #fff;
	
	border-radius: 0 0 4px 4px;
	border: 1px solid #ccc;	
	border-top: 0;	
	outline:0;	
	
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;	
}

.jautocomplete-box a{
	color: #072153 !important; padding:0 !important; width:100%; overflow:hidden
}

.jautocomplete-box .item{
	float: left;
	width: 100%;
	padding: 5px 0;
	border-bottom:1px solid #eceff5;
}

.jautocomplete-box .item p{
	padding: 0;
	margin: 0;
}

.jautocomplete-box .item:hover{
	background: #eceff5;
}

.jautocomplete-box .img{
	float: left;
	margin-left: 10px;
}

.jautocomplete-box .img img{
	width: 45px;
}

.jautocomplete-box .data{
	float: right;
	width: 200px;
	
	font-size: 12px;
	line-height: 17px;
	
	text-align: left;
	margin-right: 10px;
}

.jautocomplete-box .title{
	color: #072153;
    font-weight: bold;
	font-size: 13px;
}
.jautocomplete-box .desc{  color: #a6a6a6;
    font-size: 11px;
    font-style: italic;}
.jautocomplete-box .data{
	float: left;
	width: 205px; overflow:hidden;
	
	font-size: 12px;
	line-height: 17px;
	font-weight: normal;
	
	text-align: left;
	margin-left: 10px;
}
/**
* Layout 2
*/ 
.layout-2 .jautocomplete-box .item{
	text-align: left;
}

.layout-2 .jautocomplete-box .item .title{
	color: #2B6789;
    font-weight: bold;
	font-size: 13px;
}

.layout-2 .jautocomplete-box .item .date{
	color: #1D1D1D;
	font-size: 13px;
}

.layout-2 .jautocomplete-box .item  .border{
	margin-bottom: 10px;
}

.layout-2 .jautocomplete-box .item .desc{
	line-height: 20px;
}

.layout-2 .jautocomplete-box .item .read-more{
	color: #CA3F1A;
}

/**
* Layout 3
*/
.layout-3 .jautocomplete-box .footer,
.layout-3 .jautocomplete-box .header{	
	padding: 5px 15px;	
	background: #f7f8fb;
}
.layout-3 .jautocomplete-box .footer a{ cursor:pointer} .jautocomplete-box .footer:hover a{ text-decoration:none !important}
.layout-3 .jautocomplete-box .header{
	color: #5C5C5C;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	border-bottom: 1px dotted #ccc;
	margin: 0;
}

.layout-3 .jautocomplete-box .footer{
	text-align: right;
	margin: 0;
}

.layout-3 .jautocomplete-box .item .read-more{
	margin-top: 20px;
	color: #CA3F1A;
}

/**
* Layout 4
*/

.layout-4  .jautocomplete-box .item .single-title{
	color: #2B6789;
    font-weight: bold;
	font-size: 13px;
	padding-left: 15px;	
}

.layout-4  .jautocomplete-box .item{
	border-bottom: 1px dotted #ccc;
}

/**
* Categories
*/
.category-info{
	background: #CA3F1A;
	color: #fff;
}

.category-info p{
	padding: 3px 15px;
	line-height: 18px;
	margin: 0;
	text-shadow: none;
}


/**
* active items
*/
.ja-active .item,
.ja-active.item{
	background: #efefef;
}

